.parent {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.title {
    margin-bottom: 20px;
}

.input {
    margin-bottom: 5px;
    padding: 5px;
    outline: none;
    color: rgba(4, 18, 38, 0.59);
    font-size: 14px;
    background: #cdffb1;
    border: none;
    box-shadow: inset 0 0 5px 0px #5a5a5a2e;
    border-radius: 4px;
}